@defer (on timer(1000)) {
   <app-header [title]="getTitle()" [subtitle]="getSubtitle()"></app-header>

   <div class="container">
      <div class="grid-container">
         <div class="grid-item">
            <div class="profile-image-container">
               <app-profile-image
                  (imageSelectedEvent)="onImageSelected($event)"
                  [isEditing]="true"
                  [user]="user()"
               ></app-profile-image>
            </div>
         </div>
         <div class="grid-item">
            <div>
               <app-information-form
                  (createUserEvent)="onCreateUserEvent($event)"
                  [isEditing]="true"
               ></app-information-form>
            </div>
         </div>
      </div>
   </div>
} @placeholder {
   <app-loading-indicator text="Cargando perfil..."></app-loading-indicator>
}
