$dark-primary-text: #000000;

$blue-palette: (
   50: #e2f5f8,
   100: #b6e5ee,
   200: #8ad4e4,
   300: #64c3da,
   400: #4bb6d5,
   500: #38aad1,
   600: #309dc3,
   700: #258ab1,
   800: #23799e,
   900: #185a7d,
   contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $dark-primary-text,
      600: $dark-primary-text,
      700: $dark-primary-text,
      800: $dark-primary-text,
      900: $dark-primary-text,
   ),
);

$yellow-palette: (
   50: #fff8df,
   100: #ffebaf,
   200: #ffdf8a,
   300: #ffd342,
   400: #ffc800,
   500: #ffbe00,
   600: #ffb000,
   700: #ff9c00,
   800: #ff8a00,
   900: #ff6800,
   contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $dark-primary-text,
      600: $dark-primary-text,
      700: $dark-primary-text,
      800: $dark-primary-text,
      900: $dark-primary-text,
   ),
);
