.preview-pokemon-header {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 0px;

   button {
      padding: 0 20px;
   }
}

.preview-pokemon-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: var(--app-padding);
}

swiper-container {
   width: 100%;
   height: 100%;
   margin-top: calc(var(--app-padding) * 2);
}

slider-item {
   width: 100%;
   height: 100%;
}

.swiper-button-next svg {
   width: 10px;
}

swiper-container::part(button-next), swiper-container::part(button-prev) {
   width: 20px;
   color: var(--app-primary-color);
}

::ng-deep .mat-mdc-outlined-button:not(:disabled) {
   --mdc-outlined-button-outline-color: var(--app-primary-color) !important;
   color: var(--app-primary-color) !important;
   border-radius: var(--app-border-radius-default) !important;
}

@media screen and (min-width: 768px) {
   .preview-pokemon-header {
      flex-direction: row;
      gap: 10px;
   }

   .swiper-container {
      max-width: 800px;
   }
}
