<div class="preview-pokemon-header">
   <h2>Mis Pokémon</h2>
   <button mat-stroked-button color="primary" (click)="onEditPokemons()">
      <mat-icon
         color="primary"
         aria-hidden="false"
         aria-label="Example home icon"
         fontIcon="edit"
      ></mat-icon>
      <span>Editar</span>
   </button>
</div>


<div class="preview-pokemon-list">
   @for(pokemon of pokemons(); track pokemon.id) {
      <app-preview-pokemon-card [pokemon]="pokemon" [maxStat]="maxStat"></app-preview-pokemon-card>
   }
</div>