.preview-pokemon-header {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 0px;

   button {
      padding: 0 20px;
   }
}

.preview-pokemon-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: var(--app-padding);
}

::ng-deep .mat-mdc-outlined-button:not(:disabled) {
   --mdc-outlined-button-outline-color: var(--app-primary-color) !important;
   color: var(--app-primary-color) !important;
   border-radius: var(--app-border-radius-default) !important;
}

@media screen and (min-width: 768px) {
   .preview-pokemon-header {
      flex-direction: row;
      gap: 10px;
   }
}
