@defer (on timer(2000)) {
   <div class="header-container">
      <app-header [title]="getTitle()"></app-header>
      <button mat-stroked-button color="primary">
         <mat-icon
            color="primary"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
         ></mat-icon>
         <span>Editar perfil</span>
      </button>
   </div>


   <div class="container">
      <div class="grid-container">
         <div class="grid-item">
            <div class="profile-image-container">
               <app-profile-image [showBadge]="true"></app-profile-image>
            </div>
         </div>
         <div class="grid-item">
            <div>
               <app-preview-pokemons [pokemons]="pokemons"></app-preview-pokemons>
            </div>
         </div>
      </div>
   </div>
} @placeholder {
   <app-loading-indicator text="Cargando perfil..."></app-loading-indicator>
}
