<div class="preview-pokemon-card-container">
   <div class="pokemon-general-info">
      <img [src]="pokemon()?.sprite" alt="Pokemon Image" />
      <h2>{{ pokemon()?.name }}</h2>
   </div>
   <div class="pokemon-stats">
      <div class="pokemon-stat">
         <span>HP</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="pokemon()?.health || 0"
            ></app-progress-bar>
         </div>
      </div>
      <div class="pokemon-stat">
         <span>Ataque</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="calculatePercentage(pokemon()?.attack || 0)"
            ></app-progress-bar>
         </div>
      </div>
      <div class="pokemon-stat">
         <span>Defensa</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="calculatePercentage(pokemon()?.defense || 0)"
            ></app-progress-bar>
         </div>
      </div>
      <div class="pokemon-stat">
         <span>Ataque Especial</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="calculatePercentage(pokemon()?.specialAttack || 0)"
            ></app-progress-bar>
         </div>
      </div>
      <div class="pokemon-stat">
         <span>Defensa Especial</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="calculatePercentage(pokemon()?.specialDefense || 0)"
            ></app-progress-bar>
         </div>
      </div>
      <div class="pokemon-stat">
         <span>Velocidad</span>
         <div class="progress-bar">
            <app-progress-bar
               [progress]="calculatePercentage(pokemon()?.speed || 0)"
            ></app-progress-bar>
         </div>
      </div>
   </div>
</div>
