<div class="preview-pokemon-card-container">
   <div class="pokemon-general-info">
      <img src="assets/images/bulbasour.png" alt="Pokemon Image" />
      <h2>Bulbasour</h2>
   </div>
   <div class="pokemon-stats">
      <div class="pokemon-stat">
         <span>HP</span>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="pokemon-stat">
         <span>Ataque</span>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="pokemon-stat">
         <span>Defensa</span>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="pokemon-stat">
         <span>Bulbasour</span>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="pokemon-stat">
         <span>Charmander</span>
         <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
   </div>
</div>