.preview-pokemon-card-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: var(--app-light-gray-color);
   padding: var(--app-padding) 40px;
   border-radius: var(--app-border-radius-default);
}

.pokemon-general-info {
   display: flex;
   flex-direction: column;

   h2 {
      color: black;
      text-align: center;
   }

   img {
      width: 140px;
      margin: 0 auto;
   }
}

.pokemon-stats {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
}

.pokemon-stat {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

   .progress-bar {
      margin: 10px 0;
   }
}

@media (min-width: 768px) {
   .pokemon-general-info {
      margin-right: 60px;
   }

   .preview-pokemon-card-container {
      flex-direction: row;
   }
}
